@import 'global';

html, body, app-root2 {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.loader:before {
  content: "";
  background: url('./assets/img/bg.jpg') top;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.loader:after {
  content: "";
  background-color: #000;
  opacity: .15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.loader {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100%
}

.spinner {
  height: 75px;
  width: 75px;
  animation: rotate 1.5s infinite linear;
  border: 8px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;

}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}



.cdk-overlay-container {
  z-index: 2000;
}

app-root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.1);
}


mat-dialog-container {
  padding:0;
  border-radius: 5%;
}


.dialogWithoutPadding mat-dialog-container {
  padding:0;
}

.percent .mat-input-infix {
  width: 24px;
}

.freeWidth .mat-input-infix {
  width: auto;
}

.mat-card-header {
  flex-direction: row;
    justify-content: center;
}

.mat-card {
  padding:0!important;
}

.mat-card-content {
  padding-top: 10px;
  padding-bottom: 10px
}

@media (max-width: 768px) {
  .dialogWithoutPadding {
    height: 100vh;
    min-width: 100vw!important;
  }

  .dialogWithoutPadding mat-dialog-content {
    max-height: max-content;
  }
}


.gauge {
  .mat-slider-vertical {
    min-height: 120px;
    .mat-slider-wrapper {
      left: 11px;
    }
    .mat-slider-thumb {
      border-radius:0;
      right:-38px;
      width:53px;
      height:5px;
      bottom:-5px;
    }
    .mat-slider-track-wrapper {
      width: 26px;
      .mat-slider-track-background {
        width: 26px;
      }
      .mat-slider-track-fill {
        width: 26px;
      }
    }
  }
  .o2 .mat-slider-track-fill {
    background-color:#28a745;
  }
  .n2 .mat-slider-track-fill {
    background-color:#007bff;
  }
  .he .mat-slider-track-fill {
    background-color:#ffc107;
  }
}

.noPaddingFormField {
  .mat-form-field-wrapper {
    padding-bottom: 0em;
  }
  .mat-form-field-underline {
    bottom: 0em;
  }
}