<form class="cust-search-box" [formGroup]='custBox'>
<mat-form-field><input matInput placeholder='Numéro de client' formControlName='custId' ></mat-form-field>
<mat-form-field><input matInput placeholder='Numéro de téléphone' formControlName='telNbr' ></mat-form-field>
<mat-form-field><input matInput placeholder='Date de naissance' formControlName='birthdate' ></mat-form-field>
<mat-form-field><input matInput placeholder='Code postal' formControlName='zip' ></mat-form-field>
<mat-form-field><input matInput placeholder='Nom de famille' formControlName='lastName' ></mat-form-field>

</form>