main {
  padding-left: 300px;
  padding-top: 30px;
  padding-right: 300px;
}

.mat-sidenav {
  width: 250px;
  background-color: #efefef;
  flex: 1 1 auto;
}

.mat-sidenav-container {
  height: 100%;
  flex: 1 1 auto;
}
