@media (min-width: 768px) {
  main {
    padding-top: 30px;
  }
}

.mat-sidenav {
  width: 250px;
  background-color: #efefef;
  flex: 1 1 auto;
}

.mat-sidenav-container {
  height: 100%;
  flex: 1 1 auto;
}
