main {
  background-color: #efefef;
  height: 100%;
}

.mat-sidenav {
  width: 250px;
  background-color: #efefef;
  flex: 1 1 auto;
}

.mat-sidenav-container {
  height: 100%;
  flex: 1 1 auto;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: red;
}