
.max_button {
    width: 200px;
    height: 50px;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
}

.content>*:not(:first-child) {
    margin-top: 20px;
}



signature-pad {
    text-align: center;
}

.content {
    padding-left: 24px;
    padding-right: 24px;
}

.menu {
    background-color: #0077c2;;
    padding: 5px;
    color: white;
    margin-bottom:20px;
}

.menu span {
    margin-bottom: 0px;
    padding-left: 10px;
}

.menu .action {
    float:right;
    cursor: pointer;
}