
.max_button {
    text-align: center;
}
mat-dialog-content {
    display: flex;
    flex-direction: column;
}

mat-dialog-content>*:not(:first-child) {
    margin-top: 20px;
}

signature-pad {
    text-align: center;
}

mat-dialog-content {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
}

.menu {
    background-color: #0077c2;;
    padding: 5px;
    color: white;
}

.menu span {
    margin-bottom: 0px;
    padding-left: 10px;
}

.menu .action {
    float:right;
    cursor: pointer;
}

.mat-dialog-actions:last-child {
    margin: 0;
    text-align: center;
    display:block;
}